<p>
  <b>Handle name:</b>
  <%=h @entry.handle_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @entry.email %>
</p>

<p>
  <b>Present:</b>
  <%=h @entry.present %>
</p>

<p>
  <b>Comment:</b>
  <%=h @entry.comment %>
</p>

<p>
  <b>Entered at:</b>
  <%=h @entry.entered_at %>
</p>


<%= link_to 'Edit', edit_event_entry_path(@event, @entry) %> |
<%= link_to 'Back', event_entries_path(@event) %>
